<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas Cadastradas</title>
</head>
<body>
    <h3 id="pessoas">
    <% pessoas.forEach((pessoa) => { %>
        <br/><h2 class="button"><a href="/pessoas/delete?id=<%= pessoa.id %>">Deletar</h2></a>
        <%= pessoa.id %> <br/>
        <%= pessoa.nome %> <br/>
        <%= pessoa.sobrenome %> <br/>
        <%= pessoa.idade %> <br/>
        <%= pessoa.altura %> <br/>
    <% }) %><br/>
    </h3>

    <h2 class="" class="button" onclick="location = '/pessoas/criar'">Voltar</h2>
</body>
</html>
